<div class="footerCont">
    <div style="max-width: 1070px; margin-left: auto; margin-right: auto;">
        <!-- <img src="../../assets/NFItLogo.png"> -->
        <span class="title text-center">&FIT</span>
        <div class="d-flex justify-content-center  mt-3 mb-3">
            <img class="icon" src="https://res.cloudinary.com/dvatsno1e/image/upload/v1703219860/instagram_mg0air.png">
            <img class="icon" src="https://res.cloudinary.com/dvatsno1e/image/upload/v1703219860/gmail_ktve3l.png">
            <img class="icon" src="https://res.cloudinary.com/dvatsno1e/image/upload/v1703219860/facebook_caun8j.png">
            <img class="icon" src="https://res.cloudinary.com/dvatsno1e/image/upload/v1704647487/twitter_1_d4zg3s.png">
        </div>
        <div class="d-flex justify-content-center footerNav">
            <span>About</span>
            <span>Membership</span>
            <span>Programs</span>
            <span>Classes</span>
            <span>Studios</span>
        </div>
        <span class="title text-center mt-4 copyRight ">Copyright 2023; Designed By &FIT</span>    
    </div>
</div>
