<div class="compCont">
    <span class="title bold">Find &FIT Studio Near You.</span>
    <span class="subTitle">Welcome to &Fit, your partner for science-based workout near you! With thousands of studios in the US and abroad, you can easily find perfect location for your excercise needs.</span>
    <div class="d-flex justify-content-between mt-5">

    <form #form="ngForm" (ngSubmit)="submitTemplateForm(form.value)">
      <!-- <div class="container"> -->
        <div class="ng-autocomplete d-flex">
            <ng-autocomplete #ngAutoCompleteStatic
            [(ngModel)]="name"
            [initialValue]=""
            name="name"
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Select Studio"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputCleared)='onInputClear()'
            [itemTemplate]="itemTemplateStatic"
            [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            <ng-template #itemTemplateStatic let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
            <!-- <button class="btn" type="submit">Submit</button> -->
        </div>
        
      <!-- </div> -->
      <div class="resultCont" *ngIf="result">
        <span class="name fs-5">{{form.value.name.name}}</span>
        <div class="d-flex">
            <span class="address1">{{form.value.name.address1}},&nbsp;</span>
            <span class="address1">{{form.value.name.city}},&nbsp;</span>
            <span class="address1">{{form.value.name.state}}</span>
        </div>
        <span><fa-icon [icon]="faPhone"></fa-icon>
            {{form.value.name.phoneNumber}}</span>
        <div class="d-flex justify-content-between">
            <span class="button" [routerLink]="['/freeClass']">Try Free Class</span>
            <span class="button bg_pink" [routerLink]="['/membership']">Join Now</span>
        </div>
      </div>
      <!-- <pre>{{ form.value | json }}</pre> -->
    </form>

    <div style="width: 100%; height: 500px;" class="my-google-map">
        <google-map width="100%" height="100%" (mapReady)="onMapReady($event)"
        [options]="mapOptions"  pan=true>
            <map-marker *ngFor="let marker of markers"
                [position]="marker.position" ></map-marker>
        </google-map>
    </div>


</div>


