<div class="compCont">
    <img class="mainBillboard" src="../../assets/NFITLogoBig.png">
    <div class="d-flex justify-content-around" >
        <div class="d-flex flex-column align-items-center" style="width: 35%;">
            <span class="logo">&</span>
            <span>& stands for the infinite potential of expanding your fields to the next steps.</span>
        </div>
        <span class="logo">+</span>
        <div class="d-flex flex-column align-items-center" style="width: 35%;">
            <span class="logo">FIT</span>
            <span>FIT stands for finding exercises aligned to your fitness level.</span>
        </div>
    </div>
    <div class="homeCont">
        <span>THE</span>
        <span class="title">&FIT EXPERIENCE</span>
        <span class="content">&Fit is a 45-minute, high-intensity, indoor and outdoor, cardio/weight workout. Our signature classes are designed to strengthen your mind, body and soul with instructors who will coach you through distinct sections of climbs, sprints, choreography, weights and our iconic moment.</span>
   </div>

</div>