<div class="compCont">
    <img class="mainBillboard" src="../../assets/NFITLogoBig.png">
    <div class="d-flex justify-content-around" >
        <div class="d-flex flex-column align-items-center" style="width: 35%;">
            <span class="logo">&</span>
            <span class="text-center subTitle">& stands for the infinite potential of expanding your fields to the next steps.</span>
        </div>
        <span class="logo">+</span>
        <div class="d-flex flex-column align-items-center" style="width: 35%;">
            <span class="logo">FIT</span>
            <span class="text-center subTitle">FIT stands for finding exercises aligned to your fitness level.</span>
        </div>
    </div>


</div>

<div class="compCont text-center">
    <span>THE</span>
    <span class="title">&FIT EXPERIENCE</span>
    <span class="content">&Fit is a 45-minute, high-intensity, indoor and outdoor, cardio/weight workout. Our signature classes are designed to strengthen your mind, body and soul with instructors who will coach you through distinct sections of climbs, sprints, choreography, weights and our iconic moment.</span>
</div>

<div class="compCont">
    <span class="title bold text-center">MEET OUR CLINICAL ADVISORY BOARD</span>
    <span class="content">Our team is made up of distinguished medical doctors, healthcare experts, and highly credentialed trainers who lead clinical studies and create workouts based on the results.</span>
    <div class="d-flex w-100" style="gap: 20px">
        <div class="drCont">
            <img src="https://www.shutterstock.com/image-photo/profile-photo-attractive-family-doc-600nw-1724693776.jpg">
            <span class="subTitle bold">Dr.Jessica Q Bradford</span>
            <span>Doctor of Physiology</span>
        </div>
        <div class="drCont">
            <img src="https://www.shutterstock.com/image-photo/medical-concept-indian-beautiful-female-600nw-1635029716.jpg">
            <span class="subTitle bold">Dr.Tawa Q Turi</span>
            <span>Doctor of Physiology</span>
        </div>
        <div class="drCont">
            <img src="https://t3.ftcdn.net/jpg/02/60/04/08/360_F_260040863_fYxB1SnrzgJ9AOkcT0hoe7IEFtsPiHAD.jpg">
            <span class="subTitle bold">Dr.Melissa Q DeVore</span>
            <span>Doctor of Physiology</span>
        </div>
        <div class="drCont" >
            <img src="https://img.freepik.com/free-photo/woman-doctor-wearing-lab-coat-with-stethoscope-isolated_1303-29791.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704585600&semt=sph">
            <span class="subTitle bold">Dr.Annie Q Hoover</span>
            <span>Doctor of Physiology</span>
        </div>
    
    </div>

</div>