<div class="bodyCont">
    <div class="billboard">
        <div class="overlayBox">
            <span class="content">PERSONALIZED All-In-One WORKOUT with &FIT</span>
            <span class="subTitle">All-in-One training allows &Fit coaches to deliver a more personalized experience for you. What's more, our thousands of certified coaches.</span>
        </div>
        <img src="../../assets/fitness.png">
        <img src="../../assets/PilatesBillboard.png">
    </div>  
    <span class="title accent bold text-center mt-5 ">WHAT TO TEXPECT IN OUR WORKOUT</span>
    
    <div class="compCont">
        <div class="d-flex align-items-end">
            <span class="title bold me-3 fs-1">01</span>
            <span class="title bold me-2">STRNGTH</span>
            <span class="title bold accent">INNER CORE</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-5">
                <span class="title_sm bold">YOGA</span>
                <span class="subTitle lh-lg">All-in-One training allows &Fit coaches to deliver a more personalized experience for you. What's more, our thousands of certified coaches.</span>
            </div>
            <img class="w-50" src="../../assets/pilatesProgram.png">
        </div>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <img class="w-50" src="../../assets/yogaProgram.png">
            <div class="ms-5">
                <span class="title_sm bold">PILATES</span>
                <span class="subTitle lh-lg">All-in-One training allows &Fit coaches to deliver a more personalized experience for you. What's more, our thousands of certified coaches.</span>
            </div>
        </div>
    </div>
    <div class="compCont bg_pink">
        <div class="d-flex align-items-end">
            <span class="title bold me-3 fs-1">02</span>
            <span class="title bold accent">CARDIO</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-5">
                <span class="subTitle lh-lg">All-in-One training allows &Fit coaches to deliver a more personalized experience for you. What's more, our thousands of certified coaches.</span>
            </div>
            <img class="w-50" src="../../assets/runningProgram.png">
        </div>
    </div>
    <div class="compCont">
        <div class="d-flex align-items-end">
            <span class="title bold me-3 fs-1">03</span>
            <span class="title bold me-2">WEIGHT</span>
            <span class="title bold accent">TRAINING</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-5">
                <span class="subTitle lh-lg">All-in-One training allows &Fit coaches to deliver a more personalized experience for you. What's more, our thousands of certified coaches.</span>
            </div>
            <img class="w-50" src="../../assets/yogaProgram.png">
        </div>
    </div>

</div>