<div class="text-center bg-ivory">
    <span class="title bold">MEMBER HIGHLIGHTS</span>
    <div class="d-flex w-100 p-5 ms-2 me-2 hightlightCont">
        <div>
            <video controls="controls" src="https://cdn.shopify.com/videos/c/o/v/9cc914dce9884db5b00dae7c3bc4fdfe.mp4"></video>
        </div>
        <div>
            <video controls="controls" src="https://cdn.shopify.com/videos/c/o/v/a15cb2a062624f34a777dcfe6cde598e.mp4"></video>
        </div>
        <div>
            <video controls="controls" src="https://cdn.shopify.com/videos/c/o/v/215b674d6f1d4b43a61cca24a839734e.mp4"></video>
        </div>
        <div>
            <video controls="controls" src="https://cdn.shopify.com/videos/c/o/v/e567695b30e747ef928ccf1b5c87694e.mp4"></video>
        </div>
        <div>
            <video controls="controls" src="https://cdn.shopify.com/videos/c/o/v/9cc914dce9884db5b00dae7c3bc4fdfe.mp4"></video>
        </div>
        <div>
            <video controls="controls" src="https://cdn.shopify.com/videos/c/o/v/215b674d6f1d4b43a61cca24a839734e.mp4"></video>
        </div>
    </div>
</div>