/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Eczar:wght@400;500;600;700;800&family=Engagement&family=Inika:wght@400;700&family=Inter:wght@400;500;600;700;800&display=swap');

body{
    font-family: "Eczar";
    font-weight: 400;
}

span{
    display: block;
}