.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}
* {
    box-sizing: border-box;
  }
.homeCont{
    padding: 16px;
    margin: 60px 120px;
   
    /* display: flex;
    flex-direction: column; */
}

.homeCont > span{
    text-align: center;
}

.title{
    font-size: 35px;
    margin: 0px 0px 8px 0px;
}

.content{
    font-size: 25px;
}

.accent{
    color:#FE2E60;
}

.innerToOuter{
    background-color: #FFE5EA;
    padding: 50px 80px;
}

.bold{
    font-weight: 600;
}

.workoutStage{
    height: auto;
    width: 100%;
    font-size: 0px;
    /* display: flex; */
    display: inline-flex;
    overflow-y: auto;
    
    
}

.workoutStage>img{
    width: 100%;
    align-items: center;
}



 

  

  .image-grid {
    display: flex;
    width: 100%;
    margin: 16px 0px;
    /* border: 5px solid red; */
  }



  .image-grid >div.stage{
    width: 25%;
    height: 300px;
  }
  .image-grid >div.word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
  }

    
  .image-grid >div.star{
    width: auto;
    height: auto;
  }



  img {
    /* max-width:100%; */
    /* height: 300px; */
    width: 100%;
    height: 100%;
    display: block;
    align-self: center;
  }

.review_cont{
    flex-direction: column;
    border:1px solid #fbb6c4; 
    /* max-width: 800px; */
    align-items: center;
    padding: 24px;
    max-width: 350px;
    border-radius: 10px;
    
    
}

.image-grid.comments{
    gap: 20px;
    justify-content: center;
}

.star_box{
    display: flex; justify-content: center;
    margin-bottom: 4px;
}
.box_middle{
    text-align: center;
    margin: 8px;
}

.homeCont.commentsCont{
    margin: 50px 80px;
}

fa-icon{
    color: #ff7e98;
}

.name{
    color: gray;
}