.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}
  .image-grid {
    display: flex;
    width: 100%;
    margin: 16px 0px;
    /* border: 5px solid red; */
  }

  .image-grid >div.stage{
    width: 25%;
    height: 300px;
  }
  .image-grid >div.word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    align-self: center;
    border-radius: 20px;
  }

.review_cont{
    flex-direction: column;
    border:1px solid #fbb6c4; 
    /* max-width: 800px; */
    align-items: center;
    padding: 24px;
    max-width: 350px;
    border-radius: 10px;
    
    
}

.image-grid.comments{
    gap: 20px;
    justify-content: center;
}

fa-icon{
    color: #ff7e98;
}

div{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}