.trapezoid {
	border-bottom: 350px solid rgba(157, 154, 154, 0.868);
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	height: 0;
	width: 500px;
    position: absolute; top: 100px;
}
  .image-grid {
    display: flex;
    width: 100%;
    margin: 16px 0px;
    /* border: 5px solid red; */
  }

  .image-grid >div.stage{
    width: 25%;
    height: 300px;
  }
  .image-grid >div.word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    align-self: center;
    border-radius: 20px;
  }

.review_cont{
    flex-direction: column;
    border:1px solid #fbb6c4; 
    /* max-width: 800px; */
    align-items: center;
    padding: 24px;
    max-width: 350px;
    border-radius: 10px;
    
    
}

.image-grid.comments{
    gap: 20px;
    justify-content: center;
}

fa-icon{
    color: #ff7e98;
}

div{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.autocomplete-container{
    position: absolute !important;
}

ng-autocomplete{
    /* width: 300px; */
    display: block;
    
}

.ng-autocomplete{
    width: 100%;
    padding: 0px 8px;
    /* display: block; */
    
}

.resultCont{
    padding: 16px;
    margin-top: 20px;
    border: 1px solid #fbb6c4;
    border-radius: 5px;
    background: #FFF;   
    }
    
    .address1{
        margin: 0px;
        font-size: 14px;
    }
    
    .name{
        margin: 0px;
    }
    
    fa-icon{
        font-size: 14px;
    }
    
    .button{
        border-radius: 30px;
        border: 2px solid rgba(255, 158, 177, 0.85);
        
        padding: 8px;
        width: 45%;
        text-align: center;
    }
    
    /* .bg_pink{
        background-color: rgba(255, 158, 177, 0.85);;
    
    } */

    form > span{
        text-align: center; font-size: 20px; font-weight: bold; color: #ffffff;
    }

    .homeBillboard{
        width: 100%; height: 350px; margin-left: auto; margin-right: auto; border-radius: 0px;
    }