<div>
    <div class="d-flex justify-content-center">
    <img class="homeBillboard" src="../../assets/homeBanner.png" alt="">
    <div class="trapezoid">
        <form #form="ngForm" (ngSubmit)="submitTemplateForm(form.value)" class="pt-4">
            <span>Find Your Studio</span>
            <div class="ng-autocomplete">
                <ng-autocomplete #ngAutoCompleteStatic
                [(ngModel)]="name"
                [initialValue]=""
                name="name"
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Select Studio"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputCleared)='onInputClear()'
                [itemTemplate]="itemTemplateStatic"
                [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                <ng-template #itemTemplateStatic let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <div class="resultCont" *ngIf="result">
                <span class="name fs-5">{{form.value.name.name}}</span>
                <div class="d-flex">
                    <span class="address1">{{form.value.name.address1}},&nbsp;</span>
                    <span class="address1">{{form.value.name.city}},&nbsp;</span>
                    <span class="address1">{{form.value.name.state}}</span>
                </div>
                <span><fa-icon [icon]="faPhone"></fa-icon>
                    {{form.value.name.phoneNumber}}</span>
                <div class="d-flex justify-content-between">
                    <span class="button" [routerLink]="['/freeClass']">Try Free Class</span>
                    <span class="button bg_pink" [routerLink]="['/membership']">Join Now</span>
                </div>
              </div>
              
            <!-- <pre>{{ form.value | json }}</pre> -->
          </form></div>

          
    </div>  
    

    <div class="compCont text-center">
        <span>THE</span>
        <span class="title">&FIT EXPERIENCE</span>
        <span class="content">&Fit is a 45-minute, high-intensity, indoor and outdoor, cardio/weight workout. Our signature classes are designed to strengthen your mind, body and soul with instructors who will coach you through distinct sections of climbs, sprints, choreography, weights and our iconic moment.</span>
   </div>
   <div class="compCont bg_pink">
        <span class="title accent bold">WE CARE FROM INNER TO OUTER</span>
        <span class="content">&Fit helps you build your body from inner core with pilates/yoga to outer muscles with cardio and weight training on your fitness level.</span>
        <div class='image-grid'>
            <div class="stage">
                <img src="../../assets/yoga.jpeg">
            </div>
            
            <div class="word">
                <span>OR</span>
            </div>
            <div class="stage"> 
                <img src="../../assets/pilates.jpg">
            </div>
            <div class="word">
                <span>AND</span>
            </div>
            <div class="stage"> 
                <img src="../../assets/running.jpeg">
            </div>
            <div class="word">
                <span>AND</span>
            </div>
            <div class="stage">
                <img src="../../assets/weight.jpeg">
            </div>            
        </div>
   </div>
   <div class="compCont text-center">
        <span>&FIT</span>
        <span class="title bold">HEAR FROM OUR MEMBERS</span>

        <div class="image-grid comments">   
            <div *ngFor="let comment of comments" class='image-grid review_cont'>
                <div class="d-flex justify-content-center mb-1">
                    <div *ngFor="let item of fakeArray(comment.stars);">
                        <fa-icon [icon]="faCoffee"></fa-icon>
                    </div>
                </div>
                <div>
                    <span>{{comment.content}}</span>
                </div>
                <div>
                    <span class="gray">{{comment.name}}</span>
                </div>
            </div>
        </div> 
    </div> 

    <app-highlights></app-highlights>
    <app-membership></app-membership>








