.title{
    font-size: 40px;
    /* margin: 0px 0px 8px 0px; */
}

.bold{
    font-weight: 600;
}

.membershipCont{
    padding: 50px 80px;
}

.eachCont{
    padding: 60px 40px ;
    border-radius: 20px;
    
}

button{
    border-radius: 50px;
    background-color: #fd2953;
    color: white;
    border: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 500;
    /* width: 100%; */
    
}

.accent{
    color:#f90d3c;
}