<div class="membershipCont">
    <div>
        <span class="title bold">&FIT MEMBERSHIP & PRICE</span>
        <span class="content">Our month-to-month memberships are flexible to fit your lifestyle and fitness goals. Select from a variety of fitness membership options below.</span>
        <div class="d-flex w-100 p-5 ms-2 me-2 justify-content-center" style="gap:50px;">
            <div class="shadow eachCont">
                <span class="h4 mb-3">Premier</span>
                <span class="h1 accent">$199</span>
                <div class="mb-3 mt-3">
                    <div class="d-flex ">
                        <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                        <span>Unlimited Classes</span>
                    </div>
                    <span>(avg. usage 3x/week)</span>
                </div>
                
                <div class="d-flex mt-3 mb-5">
                    <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                    <span>Discounted Add-On Classes</span>
                </div>
                <div class="w-100 text-center">
                    <button class="ps-4 pe-4 pt-2 pb-2 mt-5 shadow">PURCHASE</button>
                </div>
            </div>
            <div class="shadow eachCont">
                <span class="h4 mb-3">Elite</span>
                <span class="h1 accent">$129</span>
                <div class="mb-3 mt-3">
                    <div class="d-flex ">
                        <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                        <span>8 Classes Monthly</span>
                    </div>
                    <span>(avg. usage 2x/week)</span>
                </div>
                
                <div class="d-flex mt-3 mb-5">
                    <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                    <span>Discounted Add-On Classes</span>
                </div>
                <div class="w-100 text-center">
                    <button class="ps-4 pe-4 pt-2 pb-2 mt-5 shadow">PURCHASE</button>
                </div>
            </div>
            <div class="shadow eachCont">
                <span class="h4 mb-3">Basic</span>
                <span class="h1 accent">$89</span>
                <div class="mb-3 mt-3">
                    <div class="d-flex ">
                        <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                        <span>4 Classes Monthly</span>
                    </div>
                    <span>(avg. usage 1x/week)</span>
                </div>
                
                <div class="d-flex mt-3 mb-5">
                    <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                    <span>Discounted Add-On Classes</span>
                </div>
                <div class="w-100 text-center">
                    <button class="ps-4 pe-4 pt-2 pb-2 mt-5 shadow">PURCHASE</button>
                </div>
            </div>
        </div>
        
    </div>
</div> 


